<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title></title>
		<meta name="description" content="" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/stylesheets/nav.css">
		<link
			rel="stylesheet"
			href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
		/>
	</head>
	<body>
		<!--[if lt IE 7]>
			<p class="browsehappy"
				>You are using an <strong>outdated</strong> browser. Please
				<a href="#">upgrade your browser</a> to improve your experience.</p
			>
		<![endif]-->

		<header>
			<div class="nav">
				<div class="nav-logo">

					<img id="logo" src="/images/logo.jpeg" alt="logo" />

                    <div class="logo-h">
                         <h2 >Mohammed Yussif</h2>
                    </div>
                   
				</div>

				<div class="nav-list">
					<ul>
						<li> <a href="Home">Home</a></li>
						<li> <a href="About">About</a></li>
						<li> <a href="Work">Work</a></li>
					</ul>
				</div>
				<div class="nav-social">
					<ul>
						<li>
							<a class="social-box" href="https://twitter.com/Codedspartant" target="_blank"> <span style=" color: rgb(79, 148, 226)"><i class="fa fa-twitter"></i></span></a
						></li>
						<li>
							<a class="social-box" href="https://github.com/yussifm" target="_blank"> <span style=" color: rgb(10, 10, 10)"><i class="fa fa-github"></i></span> </a
						></li>
						<li>
							<a class="social-box" href="https://www.linkedin.com/in/yussif-mohammed-639931170/" target="_blank"> <span style=" color: rgb(93, 187, 250)"><i class="fa fa-linkedin"></i> </span></a
						></li>
						<li>
							<a class="social-box" href="https://www.youtube.com/c/CODEDVYBES/featured" target="_blank">
                                <span style=" color: red">
									<i class="fa fa-youtube"></i>
								</span> </a
						></li>
					</ul>
				</div>
			</div>
		</header>

		<script src="" async defer></script>
	</body>
</html>
