<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>

<head>
	<meta charset="utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<title>
		<%= title %>
	</title>
	<meta name="description" content="" />
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="/stylesheets/style.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
</head>

<body>
	<!--[if lt IE 7]>
			<p class="browsehappy"
				>You are using an <strong>outdated</strong> browser. Please
				<a href="#">upgrade your browser</a> to improve your experience.</p
			>
		<![endif]-->
	<div class="main">
		<div class="box box-1">
			<%- include('partials/nav'); -%>
		</div>
		<div class="box box-2">
			<div class="article typewriter">

				<h1>Hello World!</h1>

				<div class="main-text">
					<h3> <span style="color: #21ce99; text-decoration: underline; font-size: 24px;">I'm</span> Mohammed
					</h3>

					<p>
						A software engineer currently in 
						Wa, Ghana.
						I'm computer enthusiast. I'm a self taught programmer.
						I create websites to help business do better.
					</p>
				</div>

			</div>
		</div>

		<script src="" async defer></script>
</body>

</html>